<app-images></app-images>
<div class="container">
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/jex4yvk0/watch/a/2/7/zr903-ziera-original-imaf3gfamevxsssu.jpeg?q=50"
            alt="kk" height="180px" width="auto" class="ph3">
        <br>
        <h4>ZR903 DIGITAL SPORTS Boy's Digital Watch - For Men</h4>
        <p>₹331 <b>₹1,899</b> 82% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/jdnevm80/watch/a/8/k/gw87j003y-q-q-original-imaexdzhejqgvzpr.jpeg?q=50"
            alt="kk" height="180px" width="auto" class="ph3">
        <h4>GW87J003Y GW87J003Y Analog-Digital Watch - For Men</h4>
        <p>₹2,275 <b>₹2,675</b> 14% off </p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/jk5r3bk0/watch/y/n/m/gmarks-1384-red-skmei-original-imaf7k25aw6vgddx.jpeg?q=50"
            alt="kk" height="180px" width="auto" class="ph3">
        <h4>Gmarks -1384 Red Sports Digital Watch - For Men</h4>
        <p>₹439 <b>₹1,999</b> 78% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/jsw3yq80/watch/z/e/u/gmarks-1164-black-skmei-original-imafedf3pfrarser.jpeg?q=50"
            alt="kk" height="180px" width="auto" class="ph3">
        <h4>Gmarks-1164- Black Sports Analog-Digital Watch - For Men</h4>
        <p>₹474 <b>₹1,999</b> 68% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/jkvh0nk0/watch/b/j/9/1155-gold-analog-digital-skmei-original-imaf84psf2guyugh.jpeg?q=50"
            alt="kk" height="180px" width="auto" class="ph3">
        <h4>1155 GOLD Analog-Digital YEllow Mens Sport Watch</h4>
        <p>₹387 <b>₹1,499</b> 74% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/joud1u80-1/watch/4/g/n/original-dusk-1155-rd-skmei-original-imafb7ttz7zwqgjt.jpeg?q=50"
            alt="kk" height="180px" width="auto" class="ph3">
        <h4>Original DUSK 1155 RD DUSK Analog-Digital Watch - For Men</h4>
        <p>₹368 <b>₹1,931</b> 80% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
</div>
<br>
<div class="container">
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/495/594/k40798w0/shoe/4/g/w/5503020-6-bonexy-black-original-imafny9bzhubzbat.jpeg?q=50"
            alt="kk" height="180px" width="auto">
        <br>
        <h4>Mesh,Cricket, Badminton, Volly Ball, Sports Walking Shoes For Men</h4>
        <p>₹474 <b>₹999</b> 52% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/k4vmxzk0/shoe/v/y/s/1141-blue-sock-6-t-rock-blue-original-imafnzqraywwabdc.jpeg?q=50"
            alt="kk" height="180px" width="auto">
        <h4>Canvas Shoes For Men (Blue)</h4>
        <p style="margin-top: 50px;">₹674 <b>₹999</b> 50% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/jsm3vrk0/shoe/e/4/c/bt01-sky-blue-6-blacktown-multicolor-original-imafe59ctzafa7wh.jpeg?q=50"
            alt="kk" height="180px" width="260px">
        <h4>Sports Running Casual Shoes for Men, Sky Blue Walking Shoes For Men </h4>
        <p>₹374 <b>₹699</b> 90% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/495/594/jx0prbk0/shoe/a/r/k/284-t-tan-10-t-rock-tan-original-imafhkpsgecuj9mb.jpeg?q=50"
            alt="kk" height="180px" width="auto" class="ph3" x>
        <h4>Combo Pack of 2 Sports Shoes (Walking Shoes) Outdoors For Men </h4>
        <p>₹674 <b>₹999</b> 34% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/jmp79u80/shoe/7/x/w/kmc4130-6-kimochi-black-original-imafffmaggjzgfdb.jpeg?q=50"
            alt="kk" height="180px" width="auto">
        <h4>Combo Pack of 4 Casual Sneakers With Loafers For Men (Multicolor)</h4>
        <p>₹474 <b>₹999</b> 52% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/k41mp3k0/shoe/z/v/e/socks-1-8-blacktown-black-original-imafnfhuxqhswmf8.jpeg?q=50"
            alt="kk" height="180px" width="auto">
        <h4>Running Shoes For Men</h4>
        <p style="margin-top: 50px;">₹426 <b>₹1,209</b> 67% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/800/960/jyvvgcw0/shoe/m/e/d/coscocgryblk-8-asian-grey-original-imafe3bnabzpqxgh.jpeg?q=50"
            alt="kk" height="180px" width="auto">
        <h4>Sports Running Casual Shoes for Men, Sky Blue Walking Shoes For Men</h4>
        <p>₹616 <b>₹999</b> 38% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
</div>
<br>
<div class="container">
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/416/416/k1118cw0/mobile/8/3/2/mi-redmi-8a-mzb8369in-original-imafkzz7hjsz4up6.jpeg?q=70"
            alt="kk" height="200px" width="auto" class="ph1">
        <br>
        <h4>Redmi 8A (Sunset Red, 32 GB) (2 GB RAM)</h4>
        <p>₹6,474 <b>₹7,999</b> 18% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/p/u/e/z1pro-64-a-1951-pd1911f-ex-vivo-4-original-imafhmyavthzc6jz.jpeg?q=70"
            alt="kk" height="180px" width="auto" class="ph1">
        <h4>Vivo Z1Pro (Sonic Black, 64 GB) (4 GB RAM)</h4>
        <p style="margin-top: 28px;">₹12,900 ₹15,999 18% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/416/416/jyafukw0/mobile/9/a/k/mi-redmi-k20-mzb7755in-original-imafghynagc3sqhu.jpeg?q=70"
            alt="kk" height="200px" width="200px" class="ph2">
        <h4>Redmi K20 (Glacier Blue, 64 GB) (6 GB RAM)</h4>
        <p>₹19,900 <b>₹22,999</b> 13% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/9/b/e/one-action-128-b-pafy0002in-motorola-4-original-imafjhvcyzugaqbp.jpeg?q=70"
            alt="kk" height="180px" width="auto" class="ph2">
        <h4>Motorola One Action (Denim Blue, 128 GB)</h4>
        <p style="margin-top: 30px;">10,999 <b>₹16,999</b> 35% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/416/416/k47cgi80/mobile/f/k/d/realme-x2-rmx1992-original-imafn5w4nknc6aqa.jpeg?q=70"
            alt="kk" height="200px" width="auto" class="ph2">
        <h4>Realme X2 (Pearl White, 64 GB) (4 GB RAM)</h4>
        <p>₹16,999 <b>₹17,999</b> 5% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/416/416/k3ncakw0pkrrdj/mobile/m/q/u/realme-5-pro-rmx1971-original-imafky9ry3hzffzg.jpeg?q=70"
            alt="kk" height="200px" width="auto" class="ph2">
        <h4>Realme 5 Pro (Crystal Green, 64 GB) (4 GB RAM)</h4>
        <p>₹12,999 <b>₹14,999</b> 13% off
        </p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/416/416/k572gsw0/mobile/2/x/e/realme-5i-rmx2030-original-imafnu45yjymghwj.jpeg?q=70"
            alt="kk" height="200px" width="auto" class="ph2">
        <h4>Realme 5i (Forest Green, 64 GB) (4 GB RAM)</h4>
        <p>₹8,999 <b>₹10,999</b> 18% off</p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
    <div class="cardss">
        <img class="pw-img" data-src="https://rukminim1.flixcart.com/image/416/416/k1i6ikw0/mobile/e/9/s/realme-c2-rmx1941-original-imafhfy5u3a9bvga.jpeg?q=70"
            alt="kk" height="200px" width="auto" class="ph2">
        <h4>Realme 5s (Crystal Purple, 64 GB) (4 GB RAM)</h4>
        <p>₹9,999 <b>₹11,999</b> 16% off </p>
        <button>Buy Now</button>&nbsp;&nbsp;<button class="button2">Add to Cart</button>
    </div>
</div>
<app-footer></app-footer>